@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Fjalla+One&family=Oswald:wght@400;700&family=Roboto:wght@300;400&display=swap");

.frontMain {
  position: fixed;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.frontMain h1 {
  text-align: right;
  font-size: 5.5rem;
  font-family: "Oswald", serif;
}
.frontMain p {
  text-align: left;
  font-size: 1.5rem;
}

.sectionMain span {
  display: block;
  transform: translateY(-100px);
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .frontMain {
    top: 50%;
    left: 55%;
    z-index: -1;
  }
}
